footer {
    background: rgb(23, 23, 23);
    padding: 2em 4.3vw;
}

.footer-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;
    gap: 2.5em;
}

@media(min-width: 690px) {
    .footer-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }
}

.footer-top-logo {
    max-width: 125px;
}

.footer-top-subscribe {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.footer-top-subscribe-input {
    background: none;
    padding: .75em 2.7rem;
    border: 1px solid #595959;
    color: white;
    order: -1;
    height: 3.5em;
}

.footer-top-subscribe-btn {
    padding: .75em 2.7em;
    background: rgb(15, 91, 141);
    color: white;
    text-align: center;
}

@media(min-width: 490px) {
    .footer-top-subscribe {
        flex-direction: row;
        height: 3em;
        gap: 0;
    }

    .footer-top-subscribe-input {
        background: none;
        padding: .75em 2.7rem;
        border-right: 1px solid #595959;
        border-top: 1px solid #595959;
        border-bottom: 1px solid #595959;
        border-left: 0;
        color: white;
        flex: 1;
        order: 2;
    }
}





.footer-top-subscribe-input:focus {
    border-right: 1px solid #595959;
    border-top: 1px solid #595959;
    border-bottom: 1px solid #595959;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

@media(min-width: 600px) {
    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .footer-links-wrapper {
        width: 75%;
    }
}

.footer-links-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 2.5em;
    text-align: center;
}

@media(min-width: 550px) {
    .footer-links-wrapper {
        text-align: left;
    }
}

.footer-links-group-title {
    font-family: 'Futurism';
    font-size: 1.2rem;
    letter-spacing: normal;
    margin-bottom: .65em;
}

.footer-link {
    display: block;
}

.footer-company-logo {
    max-width: 230px;
}